@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0a1428;
  --accent: #3fdcc8;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --font-sans: var(--font-roboto);
  --font-serif: var(--font-playfair);
  --font-hina-mincho: var(--font-hina-mincho);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  @apply px-4 mx-auto;
}
